#container {
    text-align: center;
}

.characters-container {
    display: inline-block;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.button-container {
    display: inline-block;
    position: relative;
    right: 2%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.button p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
}

.button button {
    padding: 6px 10px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    color: #c7a21d;
    background-color: black;
}

.button button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    color: #c7a21d79;
}